@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #232428;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    height: 630px;
}
.container{
    background-color: #282b30;
    height: 100%;
    width: 80%;
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}
.guilds{
    overflow: hidden;
    background-color: #1e1f22;
    width: 6%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}
.guild-name{
    font-weight: 600;
}
.logo-guild{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.logo-guild a{
    display: flex;
    justify-content: center;
}
.logo-guild img{
    width: 60%;
    border-radius: 50%;
    cursor: pointer;
}
.logo-guild img:hover{
    border-radius: 30%;
}
.guild-ativo{
    border-left: 2px solid white;
}
.guild-ativo img{
    border-radius: 30%;
    
}
.channels{
    overflow: hidden;
    background-color: #2b2d31;
    width: 25%;
    cursor: pointer;
}
.channels-header{
    padding: 10px;
    box-shadow: 0px 1px 1px #252525;
    
}
.channels-main{
    padding: 10px;
}
.channel{
 padding: 10px 10px;
}
.channel:hover{
    background-color: #36393e;
    border-radius: 5px;
}
.channel-ativo{
    background-color: #36393e;
    border-radius: 5px;
}
.chat{
    background-color: #313338;
    width: 70%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.chat-header{
    background-color: #313338;
    padding: 10px;
    box-shadow: 0px 1px 1px #252525;
    border-radius: 0px 10px 0px 0px;
}
.chat-main{
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 auto;
    width: 97%;
    padding: 10px;
}
.chat-display{
    display: flex;
    flex-direction: column-reverse;
}
.message{
    width: 97%;
    padding: 5px;
    display: flex;

}
.message-content{
    font-weight: 300;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.message-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.message-body{
    width: 95%;
    margin-left: 10px;
}
.message-header{
    color: royalblue;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message-header p{
    margin-left: 5px;
    font-size: 12px;
    font-weight: 300;
    color: #757575;
}
.message:hover{
    background-color: #2b2d31;
}
.chat-input {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 10px;
    width: 95%;
    height: 8%;
    min-height: 8%;
    border-radius: 15px;
    background-color: #36393e;
}

input {
    width: 90%;
    height: 100%;
    font-size: 100%;
    background-color: inherit;
    border: none;
}
input:focus {
    outline: none;
    color: #DCDDDE;
}
.button-enviar{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}
.button-enviar img:hover{
    width: 27px;
}
.button-enviar img{
    width: 25px;
}
